*,
*:before,
*:after {
  box-sizing: inherit;
  border-radius: 0;
}

html {
  box-sizing: border-box;
  position: relative;
  font-size: 62.5%;
}

body {
  font-family: Georgia, serif;
  background-color: #e28d8d;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.6;
  color: #222;
}

footer,
main {
  padding: .9rem 0;
}

footer {
  text-shadow:0 0.1rem 0.1rem #fff;
}

main {
  background-color: #f6f4e8;
}

h1,
h4 {
  font-weight: 700;
  margin: 1.8rem 0;
}

h1 { font-size: 2.8rem; }
h4 { font-size: 2.0rem; }

@media only screen and (min-width:40em) {
  h1 { font-size: 3.8rem; }
  h4 { font-size: 2.2rem; }
}

a {
  color: #222;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

input,
select {
  border: .2rem solid #e28d8d;
  appearance: none;
  background-color: #fff;
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  padding: .9rem;
}

input[type='number'],
select {
  width: 100%;
}

input[type='button']{
  text-align: center;
  cursor: pointer;
}

select {
  background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#222" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
}

.container {
  margin: auto;
  padding: .9rem;
}

.container.mw40 {
  max-width: 41.8rem;
}
.container.mw60 {
  max-width: 61.8rem;
}

.mw40 {
  max-width: 40rem;
  margin: auto;
}
.mw60 {
  max-width: 60rem;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -.9rem;
  margin-left: -.9rem;
}

.row.ai-center {
  align-items: center;
}

.col-grow,
.col-shrink {
  padding-right: .9rem;
  padding-left: .9rem;
  max-width: 100%;
}

.col-grow {
  flex: 1 0 auto;
}

.col-shrink {
  flex: 0 1 auto;
}

.red-text-shadow {
  text-shadow: 0 0.1rem 0.1rem #e28d8d;
}

.input-unit {
  text-align: center;
  min-width: 2.9rem;
}

.text-center {
  text-align: center;
}

.first-click-effect {

  transition: all 0.5s ease-out;
  background-color: #f6f4e8;
}

.second-click-effect {

  transition: all 0.5s ease-out;
  background-color: #fff;
}

#title,
#subtitle {
  text-align: center;
}
#title {
  text-align: center;
  font-size: 6.5vw;
}
#subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 4.5vw;
}
@media only screen and (min-width:40em) {
  #title { font-size: 3.8rem; }
  #subtitle { font-size: 2.2rem; }
}
